/*#anchorPaneCircleList{*/
/*    -fx-background-color: red;*/
/*}*/
/*#vboxInsideCircleList{*/
/*    -fx-background-color: blue;*/
/*}*/
/*.button{
      -fx-background-radius: 10px;
      -fx-padding: 5px;
      -fx-alignment: center
  }*/
/*#menuBar{
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-alignment: center
}*/